.login-container {
  border: 1px solid black;
  background-color: #c4c4c4;
  width: 500px;
  margin: 30px auto;
  padding-bottom: 20px;
}

.login-container input {
  display: block;
  margin: 10px auto;
}

.login-container button {
  background-color: #f77f00;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100px;
}
